<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="A social app using Spotify playlists">
        <meta name="keywords" content="플리, 연결">
        <title>CrossVibe</title>
        <script>
            function confirmLogout()
            {
                if(confirm("로그아웃 하시겠습니까?"))
                    window.location.href = "{{url_for('logout')}}"
            }
        </script>
    </head>
    <body>
        {% if user %}
            <h1>환영합니다! {{ user.display_name }}</h1>
            <a href="#" onclick="confirmLogout()">로그아웃</a>
        {% else %}
            <h1>CrossVibe에 오신 것을 환영합니다!</h1>
            <a href="{{ url_for('login') }}">Spotify로 로그인</a>
        {% endif %}
    </body>
</html>
